<!DOCTYPE html>
<html ng-app="myApp">
 <head>
  <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Subsidio Gas Propano</title>
  
  <!-- Default Styles (DO NOT TOUCH) -->
  <link rel="stylesheet" href="../lib/CSS/font-awesome.min.css">
  <link rel="stylesheet" href="../lib/CSS/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/CSS/fonts.css">
  <link type="text/css" rel="stylesheet" href="../lib/CSS/soft-admin.css"/>
  
  <!-- Adjustable Styles -->
  <link type="text/css" rel="stylesheet" href="../lib/CSS/DT_bootstrap.css"/>
  

  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>



  <script type="text/javascript" charset="utf-8" src="app.js"></script>

  <script type="text/javascript" charset="utf-8" src="controller.js"></script>

  <script type="text/javascript" charset="utf-8" src="services.js"></script>

  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="lib/js/html5shiv.js"></script>
   <script src="lib/js/respond.min.js"></script>
  <![endif]-->

 </head>
 <body>
 
  <div class="cntnr">
   
   <!-- RESPONSIVE LEFT SIDEBAR & LOGO -->
   <div class="left hidden-xs">
    <div class="logo" style="color:white; font-size:200%;">SSG</div>
    <div class="sidebar">
     
      <div class="accordion">
      
        <div class="accordion-group">
       <div class="accordion-heading">
        <a class="sbtn btn-default active" href="home.php">
         <span class="fa fa-home"></span>
         &nbsp;&nbsp;Inicio
        </a>
       </div>
      </div>
      <div class="accordion-group">
       <div class="accordion-heading">
        <a class="sbtn btn-default" href="admin/users.php">
         <span class="fa fa-users"></span>
         &nbsp;&nbsp;Usuarios
        </a>
       </div>
      </div>
      <div class="accordion-group">
       <div class="accordion-heading">
        <a class="sbtn btn-default" data-toggle="collapse" href="#c-tables">
         <span class="fa fa-table"></span>
         &nbsp;&nbsp;Proveedores
         <span class="caret"></span>
        </a>
       </div>
       <div id="c-tables" class="accordion-body collapse"><div class="accordion-inner">
        <a href="consultarPartidas.php" class="sbtn sbtn-default">Ver Proveedores</a>
        <a href="crear_partida.php" class="sbtn sbtn-default">Registrar Proveedores</a> 
       </div></div>
      </div>
     </div>
    </div>
   </div>
   
<!-- RESPONSIVE NAVIGATION -->
   <div id="secondary" class="btn-group visible-xs">
    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"><span class="icon icon-th-large"></span>&nbsp;&nbsp;Menu&nbsp;&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-info pull-right" role="menu">
      <li><a href="home.php">Inicio</a></li>
      <li class="dropdown-header">Proveedores</li>
      <li><a href="tabla_recursos.php">Ver Proveedores</a></li>
      <li><a href="ingresar.php">Registrar proveedores</a></li>
      <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
    </ul>
   </div>
   
   <div id="secondary-search" class="input-icon visible-xs">
    <i class="icon icon-search"></i>
    <input class="form-control form-warning input-sm" type="text">
   </div>
   
   <div id="secondary-search" class="input-icon visible-xs">
    <i class="icon icon-search"></i>
    <input class="form-control form-warning input-sm" type="text">
   </div>
   <!-- END RESPONSIVE NAVIGATION -->
   
   <!-- RIGHT NAV, CRUMBS, & CONTENT -->
   <div class="right">
   
    <div class="nav">
     <div class="bar">
     
  
       <!-- ICON DROPDOWNS -->
      <div class="hov">
     
       
       <div class="btn-group">
        <a class="con" href="" data-toggle="dropdown"><span class="icon icon-user"></span></a>
         <ul class="dropdown-menu pull-right dropdown-profile" role="menu">
          <li class="title"><span class="icon icon-user"></span>&nbsp;&nbsp;Bienvenido, </li>
            <li><a href="changePassword.php">Cambiar contraseña</a></li>
            <li><a href="../services/user/logout.php"><span class="fa fa-power-off"></span>Desconectar</a></li>
         </ul>
        </div>
      </div>
     </div>
     
     
     <!-- BREADCRUMBS -->
     <div class="crumbs">
      <ol class="breadcrumb hidden-xs">
       <li><i class="fa fa-home"></i> <a href="home.php">Inicio</a></li>
       <li><a href="tabla_recursos.php">Proveedores</a></li>
       <li class="active">Ver Proveedores</li>
      </ol>
     </div>
    </div>
    
    <!-- BEGIN PAGE CONTENT -->
    <div class="content">
     <div class="page-h1">




 





      <h1>Proveedores<small></small> </h1>

    

     
 

     </div>
     <div class="tbl">
      <div class="col-md-12">
       <div class="wdgt" hide-btn="true">
        <div class="wdgt-header">Tabla de proveedores</div>




        <div class="wdgt-body" style="padding-bottom:0px; padding-top:10px;">

    <br><button type="button" class="btn btn-primary" id="new-row-herramientas">Registrar nuevo proveedor</button> <br><br><br>


     

   



             
 <!-- line modal -->
              <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header modal-primary">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Registrar un nuevo proveedor</h4>
                    </div>
                    <div class="modal-body">

                      <!-- content goes here -->
                      <form class="form-horizontal">

                         

                        <div class="form-group">
                          <label class="col-lg-3 control-label">Número de registro</label>
                          <div class="col-lg-7">
                            <input type="text" ng-modal="num_registro" class="form-control" name="numero" required/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 control-label">Nombre Proveedor</label>
                          <div class="col-lg-7">
                            <input type="text" ng-modal="nombre_proveedor" class="form-control" name="nombre" required/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 control-label">Dirección</label>
                          <div class="col-lg-7">
                            <input type="text" ng-modal="direccion" class="form-control" name="direccion" required/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 control-label">Télefono</label>
                          <div class="col-lg-7">
                            <input type="text" ng-modal="telefono" class="form-control" name="tel" required/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 control-label">E-mail</label>
                          <div class="col-lg-7">
                            <input type="email"  ng-modal="correo_contacto" class="form-control" name="email" required/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 control-label">Estado</label>
                          <div class="col-lg-7">
                            <input type="text" ng-modal="estado" class="form-control" name="estado" required/>
                          </div>
                        </div>


                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" name="agregar" value="Agregar">Ingresar</button>
                          </div>
                          <div class="btn-group" role="group">
                            <button type="reset" class="btn btn-info">Limpiar</button>
                          </div>
                        </div>

                        

                      </form>

                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- line modal -->



         <table id="proveedorChar" ng-controller="TablaProveedoresCtrl" cellpadding="0" cellspacing="0" border="0" class=" table table-striped table-bordered">

          <!--ENCABEZADO DE LA TABLA RECURSOS -->

     <thead>
      <tr>
       <th>Numero de registro</th>
       <th>Nombre de proveedor</th>
       <th>Direccion</th>
       <th>Telefono</th>
       <th>Correo de contacto</th>
       <th></th>
      </tr>
     </thead>


        <!--CUERPO DE LA TABLA RECURSOS -->


     <tbody>

     <div><tr ng-repeat="character in characters"> <!-- ng-repeat function como un "for" iterando la variable characters hidratada en el controlador -->

            <!-- Muestra los datos del registro -->

            <td>{{character.num_registro}}</td>
            <td>{{character.nombre_proveedor}}</td>  
            <td>{{character.direccion}}</td> 
            <td>{{character.telefono}}</td> 
            <td>{{character.correo_contacto}}</td>
            <td class='center'>
           <input style='max-width: 5%;' ng-click=\"window.location.href='proveedor.editar.html?num_registro={{character.num_registro}}';\" type='image' src='../lib/Imagenes/editar.png'>
           </td>


      </tr>
      </div>
     </tbody>
    </table>



        </div>
       </div>

      </div>
     </div>

    </div>
    <!-- END PAGE CONTENT -->



   </div>
   <!-- END NAV, CRUMBS, & CONTENT -->
   
  </div>

  <!-- Default JS (DO NOT TOUCH) -->
  <script src="../lib/JS/jquery-3.1.0.min.js"></script>
  <script src="../lib/JS/bootstrap.min.js"></script>
  <script src="../lib/JS/hogan.min.js"></script>
  <script src="../lib/JS/typeahead.min.js"></script>
  <script src="../lib/JS/typeahead-example.js"></script>

  

  <!-- Adjustable JS -->
  <script src="../lib/JS/jquery.dataTables.js"></script>
  <script src="../lib/JS/DT_bootstrap.js"></script>
  <script src="../lib/JS/soft-widgets.js"></script>

  <script>

  $("#new-row-herramientas").click(function() {
          $('#modal3').modal('show');
          var table = $(this).parents(".wdgt-body").children("table");
          var count = table.children("tbody").children("tr").length;

          html = "<tr><td><span></span><input type='hidden' name='descripcion_herramienta[]'/></td><td><span></span><input type='hidden' name='tipo[]'/></td><td><span></span><input type='hidden' name='capacidad[]'/></td><td><span></span><input type='hidden' name='rendimiento_herramienta[]'/></td><td><span></span><input type='hidden' name='costo_hora[]'/></td><td><span class='subtotal'></span><input type='hidden' name='subTotal_herramienta[]'/></td><td><button class='eliminar btn btn-info btn-sm'><i class='icon icon-trash'></i></button></td></tr>";
          table.append(html);
           $("#principal").prop("disabled", false);
        } );
  </script>


  <script>
   $(document).ready(function() {
    $('.datatable').dataTable({
     "sPaginationType": "bs_full"
    }); 
    $('.datatable').each(function(){
     var datatable = $(this);
     // SEARCH - Add the placeholder for Search and Turn this into in-line form control
     var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
     search_input.attr('placeholder', 'Buscar');
     search_input.addClass('form-control input-sm');
     // LENGTH - Inline-Form control
     var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
     length_sel.addClass('form-control input-sm');
    });
   }

   );
  </script>
  
 </body>
</html>