<form class="form-horizontal" role="form" ng-submit="addRow()">
  <div class="form-group">
    <label class="col-md-2 control-label">Numero Registro</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="num_registro"
        ng-model="num_registro" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Nombre Proveedor</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="nombre_proveedor"
        ng-model="nombre_proveedor" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Direccion</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="direccion"
        ng-model="direccion" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Telefono</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="telefono"
        ng-model="telefono" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Correo electronico</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="correoContacto"
        ng-model="correo_contacto" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Estado</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="estado"
        ng-model="estado" />
    </div>
  </div> 
   

  <div class="form-group">                
    <div style="padding-left:110px">
      <input type="submit" value="Guardar" class="btn btn-primary"/>
    </div>
  </div>

</form>
